
a.headerlink {
color: #0f0f0f;
margin-left: 0.3em;
text-decoration: none;
visibility: hidden;
}

h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink,
h5:hover a.headerlink,
h6:hover a.headerlink,
dt:hover a.headerlink {
visibility: visible;
}

h3,ol {
margin-top: 1.0em;
margin-bottom: 0.7em;
}

ul,ol {
margin-top: 1.0em;
margin-bottom: 1.0em;
}


li {
margin-bottom: 0em;
margin-top: 0em;
}


a.headerlink:hover {
}

#copyright {
  clear:both;
  font-color:grey;
  margin-top:8px;
  text-align:center;
  width:100%;
  font-size:80%;
}

#rightbar_main, #rightbar_bar {
  font-size: 110%;
}

pre {
  background-color: #fff4f4;
  border: 1px solid #d0c7c0;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 100%;
  font-family: monospace;
  margin-bottom: 1em;
}

.figure {
  margin-bottom: 1em;
}

.figure img {
width: auto;
border: 1px solid #888;
-webkit-box-shadow: 0.33em 0.33em 0.17em #888, 0.33em 0.33em 1em rgba(0,0,0,0.3);
-o-box-shadow: 0.33em 0.33em 0.17em #888, 0.33em 0.33em 1em rgba(0,0,0,0.3);
-moz-box-shadow: 0.33em 0.33em 0.17em #888, 0.33em 0.33em 1em rgba(0,0,0,0.3);
box-shadow: 0.33em 0.33em 0.17em #888, 0.33em 0.33em 1em rgba(0,0,0,0.3); 
max-width: 100%;
margin: 0.5em 0 1em;
}

.figure img {
  width: expression(this.width > 580 ? 580: default);
}

.section img {
width: auto;
border: 1px solid #888;
-webkit-box-shadow: 0.33em 0.33em 0.17em #888, 0.33em 0.33em 1em rgba(0,0,0,0.3);
-o-box-shadow: 0.33em 0.33em 0.17em #888, 0.33em 0.33em 1em rgba(0,0,0,0.3);
-moz-box-shadow: 0.33em 0.33em 0.17em #888, 0.33em 0.33em 1em rgba(0,0,0,0.3);
box-shadow: 0.33em 0.33em 0.17em #888, 0.33em 0.33em 1em rgba(0,0,0,0.3); 
max-width: 100%;
margin: 0.5em 0 1em;
}

.section img {
  width: expression(this.width > 580 ? 580: default);
}

.admonition-title {
  font-weight: bold;
  color: #486300;
}

.admonition {
  margin-bottom: 1em;
  border: 1px solid #ccc;
  background-color: #eee;
  padding-top: 7px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.warning {
  background-color: #ffe0e0;
}

.warning .admonition-title {
  color: #dd0000;
}

.caption {
  text-align: center;
}

#toc ul li {
padding: 0;
margin-right: 0;
}

blockquote {
  margin-left: 2.0em;
  margin-bottom: 1.0em;
}

/* Over-ride undesirable effect leaking in from opengeo style sheet */
#content ul li:before {
  content: none;
}
