{%- set breadcrumbdelim = breadcrumbdelim is not defined and ' &raquo;' or breadcrumbdelim %}
{%- set reldelim = reldelim is not defined and '|' or reldelim %}
{%- macro breadcrumbs() %}
<div id="breadcrumbs">
  {%- block rootrellink %}
  <a href="http://opengeo.org/">Home</a>{{ breadcrumbdelim }}
  <a href="http://workshops.opengeo.org/">Education</a>{{ breadcrumbdelim }}
  <a href="{{ pathto('index') }}">{{ project }}</a>
  {%- endblock %}
  {%- for parent in parents %}
    {{ breadcrumbdelim }} <a href="{{ parent.link|e }}" accesskey="U">{{ parent.title }}</a>
  {%- endfor %}
  {% if pagename != 'index' %}
    {{ breadcrumbdelim }} <a href="{{ link }}">{{ title|striptags }}</a>
  {%- endif %}
</div>
{%- endmacro %}
{%- macro rellinkbar() %}
<ul id="relatedlinks" class="selfclear">
  {%- for rellink in rellinks %}
  <li{% if loop.first %} class="first"{% endif %}>
    <a href="{{ pathto(rellink[0]) }}" title="{{ rellink[1]|striptags }}"
       accesskey="{{ rellink[2] }}">{{ rellink[3] }}</a>
    {%- if not loop.first %}{{ reldelim }}{% endif %}</li>
  {%- endfor %}
  {%- block relbaritems %}{% endblock %}
</ul>
{%- endmacro %}

{%- macro sidebar() %}
  {%- if builder != 'htmlhelp' %}
    {%- if display_toc %}
      {%- block sidebartoc %}
      <div id="toc" class="section">
        <h4 class="pngfix">Table Of Contents</h4>
        {{ toc }}
        <div class="section-footer"></div>
      </div>
      {%- endblock %}
    {%- endif %}
      {%- block sidebarrel %}
        {%- if (prev or next) %}
        <div class="section">
          <h3>Continue Reading</h3>
          {%- if prev %}
          <p style="margin-top:1em"><b>Previous:</b> <a href="{{ prev.link|e }}" title="previous chapter">{{ prev.title }}</a></p>
          {%- endif %}
          {%- if next %}
          <p><b>Next:</b> <a href="{{ next.link|e }}" title="next chapter">{{ next.title }}</a></p>
          {%- endif %}
          </ul>
        </div>
        {%- endif %}
      {%- endblock %}
      {%- if sourcename %}
        <div class="section">
        <h4>This Page</h4>
        <ul class="this-page-menu">
        {%- if builder == 'web' %}
          <li><a href="#comments">Comments ({{ comments|length }} so far)</a></li>
          <li><a href="{{ pathto('@edit/' + sourcename)|e }}">Suggest Change</a></li>
          <li><a href="{{ pathto('@source/' + sourcename)|e }}">Show Source</a></li>
        {%- elif builder == 'html' %}
          <li><a href="{{ pathto('_sources/' + sourcename, true)|e }}">Show Source</a></li>
        {%- endif %}
        </ul>
        </div>
      {%- endif %}
      {%- if customsidebar %}
      {{ rendertemplate(customsidebar) }}
      {%- endif %}
      {%- block sidebarsearch %}{%- endblock %}

  {%- endif %}

   <h4>About OpenGeo</h4>
   <p>OpenGeo provides <a href="http://opengeo.org/products/">commercial open source software</a> for internet mapping and geospatial application development. We are a <a href="http://opengeo.org/about/">social enterprise</a> dedicated to the growth and support of open source software.</p>

    <h4>License</h4>
    <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative Commons Attribution-Share Alike 3.0 United States License</a>.  Feel free to use this material, but we ask that you please retain the OpenGeo branding, logos and style.</p>
<p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/us/88x31.png" /></a></p>


{%- endmacro -%}
{%- block doctype -%}
<!DOCTYPE html>
{%- endblock %}
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  {{ metatags }}
  {%- if not embedded %}
    {%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
  {%- else %}
    {%- set titlesuffix = "" %}
  {%- endif %}
  <title>Boundless : {{ project }}{% if pagename != 'index' %} : {{ title|striptags }}{%- endif %}</title>

  <link rel="profile" href="http://gmpg.org/xfn/11">
  {%- block basecss %}
  <link rel="stylesheet" href="http://opengeo.org/opengeo.css" type="text/css"/>
  {%- endblock %}
  {%- for link, type, title in page_links %}
  <link rel="alternate" type="{{ type|e(true) }}" title="{{ title|e(true) }}" href="{{ link|e(true) }}" />
  {%- endfor %}
  <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css" />
  <link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css" />
  <link rel="stylesheet" type="text/css" href="http://opengeo.org/include/superfish/css/superfish.css" media="screen" />
  <script type="text/javascript" src="{{ pathto('_static/jquery.js', 1) }}"></script>
  <script type="text/javascript" src="{{ pathto('_static/doctools.js', 1) }}"></script>
  <script type="text/javascript" src="{{ pathto('_static/searchtools.js', 1) }}"></script>
  <script type="text/javascript" src="{{ pathto('searchindex.js', 1) }}"></script>
  <script type="text/javascript" src="http://opengeo.org/include/superfish/js/jquery-1.2.6.min.js"></script>
  <script type="text/javascript" src="http://opengeo.org/include/superfish/js/hoverIntent.js"></script>
  <script type="text/javascript" src="http://opengeo.org/include/superfish/js/superfish.js"></script>
  <script type="text/javascript" src="http://opengeo.org/include/superfish/js/supersubs.js"></script>
  <script>
	$(document).ready(function(){
		$("ul.sf-menu").supersubs({
		}).superfish();  // call supersubs first, then superfish, so that subs are
						 // not display:none when measuring. Call before initialising
						 // containing tabs for same reason.
	});
	</script>
  {%- if use_opensearch %}
  <link rel="search" type="application/opensearchdescription+xml"
        title="Search within {{ docstitle }}"
        href="{{ pathto('_static/opensearch.xml', 1) }}"/>
  {%- endif %}
  {%- if favicon %}
  <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
  {%- endif %}
  {%- block linktags %}
      {%- if hasdoc('about') %}
      <link rel="author" title="{{ _('About these documents') }}" href="{{ pathto('about') }}" />
      {%- endif %}
      {%- if hasdoc('genindex') %}
      <link rel="index" title="{{ _('Index') }}" href="{{ pathto('genindex') }}" />
      {%- endif %}
      {%- if hasdoc('search') %}
      <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}" />
      {%- endif %}
      {%- if hasdoc('copyright') %}
      <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}" />
      {%- endif %}
      <link rel="top" title="{{ docstitle|e }}" href="{{ pathto('index') }}" />
      {%- if parents %}
      <link rel="up" title="{{ parents[-1].title|striptags }}" href="{{ parents[-1].link|e }}" />
      {%- endif %}
      {%- if next %}
      <link rel="next" title="{{ next.title|striptags }}" href="{{ next.link|e }}" />
      {%- endif %}
      {%- if prev %}
      <link rel="prev" title="{{ prev.title|striptags }}" href="{{ prev.link|e }}" />
      {%- endif %}
  {%- endblock %}
{%- block extrahead %}{% endblock %}

<style type="text/css">.tk-proxima-nova{font-family:"proxima-nova",sans-serif;}.tk-cantarell{font-family:"cantarell",sans-serif;}</style><link rel="stylesheet" href="http://use.typekit.net/c/6bdb77/cantarell:i4:i7:n4:n7,proxima-nova:n1:n3:n4.WZY:N:2,WZb:N:2,WZX:N:2,WZZ:N:2,Vmv:N:2,Vmx:N:2,W0V:N:2/d?3bb2a6e53c9684ffdc9a9bfe1b5b2a6216bc43f667eade1f8c67b8ccc8fc1b2d943fc23066421c5dbfa6ba0d0db4cbe9b2c30e319fd8d7e63086a3be8ddf8eef6423f88b7e3de52eb9b78a90db06246f69b185b95ec94b09e756c999385f697a560780740f94bc81dd8a123a0363c0031470649b75bf3eb3b10cde8ab0ef3e9fc8d4ef3b5b648631d006f2521bfe0eaf9edd2322f33d6b21d95b0686a7b65acfd7de91bbd6551f50a7ab519b1d3403ce7880670cc0"><script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!--[if lt IE 9]>
<script src="http://opengeo.dev.integritystl.com/wp-content/themes/open-geo/js/html5.js" type="text/javascript"></script>
<![endif]-->

<link rel="stylesheet" id="style-css" href="http://opengeo.dev.integritystl.com/wp-content/themes/open-geo/style.css" type="text/css" media="all">
<script type="text/javascript" src="http://opengeo.dev.integritystl.com/wp-includes/js/jquery/jquery.js?ver=1.10.2"></script>
<script type="text/javascript" src="http://opengeo.dev.integritystl.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1"></script>

</head>
<body class="page">
  {%- block header %}
  	<div class="modal hide" id="boundless">
			<div class="modal-header">
			    <button class="close close_btn">×</button>
			    <h3>OpenGeo is now Boundless</h3>
			</div>
			<div class="modal-body">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
			<div class="modal-footer">
			</div>
		</div>

	<div id="wrapper">
				<header id="masthead" class="site-header" role="banner">
			<div class="container">
				<a href="http://opengeo.dev.integritystl.com/" rel="home" id="logo"><img src="http://opengeo.dev.integritystl.com/wp-content/themes/open-geo/images/logo.png"></a>

				<div class="pull-right">
					<div class="pull-left">
						<div class="menu-main-container">
							<ul id="menu-main" class="menu">
								<li><a href="http://opengeo.dev.integritystl.com/solutions/">Solutions</a></li>
								<li><a href="http://opengeo.dev.integritystl.com/resources/">Resources</a></li>
								<li><a href="http://opengeo.dev.integritystl.com/about/">About</a></li>
								<li><a href="http://opengeo.dev.integritystl.com/support/">Support</a></li>
							</ul>
						</div>
					</div>
					<div class="search dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="search-icon"></i></a>
						  <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							  <form method="get" id="searchform" class="searchform" action="http://opengeo.dev.integritystl.com/" role="search">
								  <label for="s" class="screen-reader-text">Search</label>
							  <input type="search" class="field" name="s" value="" id="s" placeholder="Search …">
							  <input type="submit" class="submit" id="searchsubmit" value="Search">
							  </form>
						  </div>
					</div>
					<div class="download-link">
						<ul id="menu-download-link" class="menu">
							<li id="menu-item-5817" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5817">
								<a href="http://opengeo.dev.integritystl.com/download/">Download</a>
							</li>
						</ul>
					</div>
				</div>

			</div><!--closes container-->

		</header>
  {%- endblock %}
  {%- block pageheading %}<div id="pageheading"><div class="contents"><h1>{{ project }}</h1></div></div>{% endblock %}

  <div id="content" class="contents">
  {%- block breadcrumbbar %}{{ breadcrumbs() }}{% endblock %}

  <div id="rightbar_main">
    {%- block document %}
      {% block body %}{% endblock %}
    {%- endblock %}

    {%- if (prev or next) %}
      <!-- Next/Prev -->
      <div class="selfclear pagination-nav">
        {%- if prev %}
          <div class="left"><strong>Previous</strong>: <a href="{{ prev.link|e }}" title="previous chapter">{{ prev.title }}</a></div>
        {%- endif %}
        {%- if next %}
          <div class="right"><strong>Next</strong>: <a href="{{ next.link|e }}" title="next chapter">{{ next.title }}</a></div>
        {%- endif %}
      </div>
    {%- endif %}

  <!--
  {%- if hasdoc('copyright') %}
    &copy; <a href="{{ pathto('copyright') }}">Copyright</a> {{ copyright }}
  {%- else %}
    &copy; Copyright {{ copyright }}
  {%- endif %}
  -->

  </div> <!-- rightbar_main -->

  <div id="rightbar_bar">
    {{ sidebar() }}
<!-- {%- block rellinkbar %}{{ rellinkbar() }}{% endblock %} -->
  </div> <!-- rightbar_bar -->

  </div> <!-- content -->

{%- block footer %}
  <div id="footer">
    <footer id="colophon" class="site-footer" role="contentinfo">
		<div class="container">
			<div class="row">
				<div class="span2">
					<h5>Solutions</h5>
					<div class="footer-solutions-menu">
						<ul id="menu-solutions" class="menu">
							<li><a href="http://opengeo.dev.integritystl.com/solutions/">Overview</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/opengeo-suite/">OpenGeo Suite</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/mapmeter/">MapMeter</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/solutions/solutions-software/">By Software</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/solutions/solutions-industry/">By Industry</a></li>
						</ul>
					</div>
				</div>
				<div class="span2">
					<h5>Resources</h5>
					<div class="footer-resources-menu">
						<ul id="menu-resources" class="menu">
							<li><a href="http://opengeo.dev.integritystl.com/resources/">Overview</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/resources/trainings/">Trainings</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/resources/workshops/">Workshops</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/documentation/">Documentation</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/case-studies/">Case Studies</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/resources/white-papers/">White Papers</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/resources/tours/">Tours</a></li>
						</ul>
					</div>
				</div>
				<div class="span2">
					<h5>About Us</h5>
					<div class="footer-about-menu">
						<ul id="menu-about-menu" class="menu">
							<li><a href="http://opengeo.dev.integritystl.com/about/">Overview</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/resources/contact/">Contact</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/about/team/">Team</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/resources/careers/">Careers</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/resources/partners/">Partners</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/blog/">Blog</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/resources/news/">News &amp; Media</a></li>
</ul></div>				</div>

				<div class="span6 site-info">

					<div class="row-fluid">
						<div class="span6">
							<h5>Contact</h5>
							<p class="address">
								<span>155 Water Street, Suite 4-10</span>
								<span>Brooklyn, NY 11201</span>
								<span>1-877-OPENGEO</span>
								<span>ddubovsky@opengeo.org</span>
							</p>
						</div>
						<div class="span6">
							<span class="social"><i class="twitter"></i><a href="https://twitter.com/opengeo" target="_blank">Follow us on Twitter</a></span>
							<span class="social"><i class="linkedIn"></i><a href="http://www.linkedin.com/company/opengeo" target="_blank">Follow us on Linkedin</a></span>
							<span class="social"><i class="email"></i>Subscribe to our Newsletter</span>
							<div>
								<iframe seamless src="http://info.opengeo.org/email.html" sandbox="allow-forms" scrolling="no"></iframe>
   							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="span12 footer-sub-menu">
					<div class="menu-footer-menu-container">
						<ul id="menu-footer-menu" class="menu">
							<li><a href="http://opengeo.dev.integritystl.com/terms-service/">Terms of Service</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/privacy-policy/">Privacy Policy</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/site-map/">Site Map</a></li>
							<li><a href="http://opengeo.dev.integritystl.com/opengeo-suite/">© Boundless</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<a class="question btn btn-primary" href="http://opengeo.dev.integritystl.com/contact/"><i class="bubble"></i>Ask A Question</a>
	</footer>
  </div><!-- footer -->
{%- endblock %}

</div><!-- container -->

<script type="text/javascript" src="http://opengeo.dev.integritystl.com/wp-content/themes/open-geo/js/dropdown.js"></script>

{%- block analytics %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3879903-6");
pageTracker._trackPageview();
} catch(err) {}
</script>
{%- endblock %}

  </body>
</html>
