/* Style declarations for the EditingPanel */

.EditingPanel {
    float: right;
    right: 0px;
    height: 30px; 
    width: 200px;
}
.EditingPanel div {
    float: right;
    margin: 5px;
    width: 24px;
    height: 24px;
}
.olControlNavigationItemActive { 
    background-image: url("../openlayers/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -103px -23px; 
}
.olControlNavigationItemInactive { 
    background-image: url("../openlayers/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -103px -0px; 
}
.olControlDrawFeatureItemInactive { 
    background-image: url("../openlayers/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -26px 0px; 
}
.olControlDrawFeatureItemActive { 
    background-image: url("../openlayers/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -26px -23px ;                                                                   
}
.olControlModifyFeatureItemActive { 
    background-image: url(../openlayers/theme/default/img/move_feature_on.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
.olControlModifyFeatureItemInactive { 
    background-image: url(../openlayers/theme/default/img/move_feature_off.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
.DeleteFeatureItemActive { 
    background-image: url(../openlayers/theme/default/img/remove_point_on.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
.DeleteFeatureItemInactive { 
    background-image: url(../openlayers/theme/default/img/remove_point_off.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}